.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button-container h1{
  margin-left: 10px;
}
.button-container button{
    margin-right: 10px;
    width: 134px;
    height: 35px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 10px;
}