.full-width {
    width: 99%;
}

.half-width {
    width: 100%;
    display: inline-block;
}

.project-container {
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.heading {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Параграф и подписи */
p {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
p span {
    font-size: 10px;
    font-weight: lighter;
}
p img {
    vertical-align: middle;
    margin-right: 6px;
}

/* Таблица */
.table-wrapper {
    overflow-x: auto;
}

.project-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table-header th {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #6b7280;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #e5e7eb;
}

.table-row {
    transition: background-color 0.2s;
    border-bottom: 1px solid #e5e7eb;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table-row:hover {
    background-color: #f9fafb;
}

.table-cell {
    padding: 0.75rem 0;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

/* Компания и иконка */
.project-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 25px;

}

.project-img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    object-fit: cover;
}


/* Аватары */
.avatars {
    display: flex;
}
.avatars img {
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    border: 2px solid white;
    margin-left: -10px;
}
.avatars img:first-child {
    margin-left: 0;
}

/* Бюджет */
.budget {
    font-size: 0.875rem;
    color: #374151;
}

/* Прогресс */
.progress-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-label {
    min-width: 30px;
    font-size: 14px;
    color: #555;
}

.progress-bar {
    flex: 1;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background-color: #14b8a6;
    transition: width 0.3s ease;
    border-radius: 4px 0 0 4px;
}

/* Кнопка "⋮" */
.action-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}
.action-button:hover {
    color: #000;
}



