.companies{
    margin-right: 70%;
}

.members{
    margin-right: 10%;
}
.member-avatar{
    margin-right: -10px;



}
.budget{
    margin-right: 10%;
}
.value{
    margin-left: 10%;
}
.completion{
    margin-right: 10%;
}