.downlink-container {

    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 10px;
    background-image: url('../SideBar_Icons/downLinkBackground.png');
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
}
.downlink {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-right: 7px;
}

.icon_ask{
    display: flex;
    margin-bottom: 10px;
}
.text{
    color: white;
    justify-items: left;
}
.text h3, .text h4 {
    margin: 5px 0; /* Одинаковые отступы сверху и снизу */
}
.text h3{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.text h4{
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: normal;


}



.button{
    align-content: center;
    justify-content: center;


}
.button button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;



}


