.downlink-container {


}
.downlink {
    background-image: url('../SideBar_Icons/BackgroundDownlink.svg');
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 135px;
    padding-bottom: 20px;
    padding-right: 7px;
    max-width: 218px;
    max-height: 170px;
}


img{
    margin-left: 15px;
}
.icon_ask h3, h4 {
    margin: 5px 0; /* Одинаковые отступы сверху и снизу */
    justify-self: flex-start;
    align-self: center;
    color: white;
}
.icon_ask h3{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}
.icon_ask h4{
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: normal;margin-left: 15px;
}
.documentation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
    border-style: none;
    width: 85%;
    max-width: 186px;
    max-height: 35px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
    background-color: white;

}







