.project-card{
    max-width: 370px;
    width: 24%;
}
.project-sub{
    font-size: 10px;
    font-weight: normal;
}
.project-title{
    font-size: 18px;
    font-weight: bold;
}
.project-desc{
    font-size: 12px;
    font-weight: normal;
}