.profile-project-card{
    max-width: 370px;

}
.profile-project-sub{
    font-size: 10px;
    font-weight: normal;
}
.profile-project-title{
    font-size: 18px;
    font-weight: bold;
}
.profile-project-desc{
    font-size: 12px;
    font-weight: normal;
}