.cards{
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    max-width: 1600px;

}
.card{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 200px;
    max-width: 382px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.card-content{
    display: flex;
    flex-direction: column;

}
.title{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}
.amount{
    font-size: 18px;
    font-weight: bold;

}
.changes{
    font-size: 14px;
    margin-left: 5px;

}
@media (max-width: 576px){
    .cards{
        flex-direction: column;
    }}

@media (max-width: 576px) {
    .card{
        flex-direction: row;
    }}


@media ( min-width: 576px) and (max-width: 1250px){
    .cards{
        flex-direction: row;
    }
}

@media  ( min-width: 576px) and (max-width: 1250px){
    .card{
        flex-direction: column;
        width: 100px;
        height: 100px;
        padding-right: 0;
        padding-left: 0;

    }}
