.orders-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    max-width: 600px;
    width: 80%;
    margin: auto;
}

.timeline {
    margin-top: 20px;
    position: relative;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
}

.icon-container {
    position: relative;
    margin-right: 16px;
    min-height: 60px;
}

.icon {
    width: 24px;
    height: 24px;
    z-index: 1;
    position: relative;
}

.vertical-line {
    position: absolute;
    top: 28px;
    right:  10px;
    width: 2px;
    height: calc(100% - 12px);
    background-color: #e0e0e0;
    color: black;
    z-index: 0;
}

.content {
    flex: 1;
}

.order-title {
    font-weight: 600;
    margin: 0;
}

.order-date {
    font-size: 0.85rem;
    color: #888;
    margin: 4px 0 0;
}

.text-green {
    color: #4caf50;
    font-weight: 500;
}
