.signUp{
    display: flex;
    flex-direction: column;
}


.header{
    margin-top: 20px;
}
.signUp-upper{
    background-image: url("./images/SignUpBackground.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1153px;
}
.signUp-lower{
    display: flex;
}
.welcome{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-self: center;
    color: white;
}