.active-users {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
}
.active-users-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.active-users-header h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.active-users-header p {
    margin: 4px 0 0 0;
    color: #9ca3af;
    font-size: 14px;
}
.positive {
    color: #4ade80;
    font-weight: 500;
}
@media (max-width: 1000px) {
    .active-users{
        width: 100%;
    }
}







