.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.footer-links {
    text-decoration: none;
    color: gray;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}