
.dashbord-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin-left: 50px;
}








