.signIn-header{
    padding: 20px;
    justify-self: center;
    position: absolute;
    margin-top: 50px;
    margin-left: 400px;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}
.signin-style {
    background: rgba(255, 255, 255, 0.7);
    top: 50px;
    left: 50px;
}

/* Стиль для /signup */
.signup-style {
    background: transparent;
    border: none;
    margin-top: 0;
    color: white;

    }
.logo{
    background: transparent;
    gap: 50px;
    border: none;
    margin-left: 25px;
    color: red;

}
.links{
    background: transparent;
    gap: 50px;
    border: none;
    margin-left: 25px;
    color: black;

}.signup-style .links {
     color: white;
     }





.download{
    color: white;
    background: black;
    border-radius: 15px;
    max-width: 150px;
    max-height: 35px;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin-left: 50px;
    padding-inline: 20px;
    white-space: nowrap;

}


/* Разные стили кнопки "Free Download" по страницам */
.signin-style .download {
    background-color: black;
    color: white;
}

.signup-style .download {
    background-color: white;
    color: black;
    border: none;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}
.logo{
    fill: white; /* работает! */
    color: white;
}
.sign-up-form{
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    z-index: 10;
}