.section_4{
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 1600px;
}
.main-section_section_4{
    display: flex;
    flex-direction: row;
}

.main-panel-left_section_4{
    width: 66%;
    max-width: 1057px;
    border-radius: 15px;
    padding-right: 20px;
}
.main-panel-right_section_4{
    display: flex;
    width: 32%;
    max-width: 519px;
}
.border-b{
    height: 70px;
}
@media (max-width: 830px) {
.main-section_section_4{
    flex-direction: column;

}
}

@media (max-width: 830px){
    .main-panel-left_section_4{
        width: 100%;
        margin-bottom:  20px;
    }
}
@media (max-width: 830px){
    .main-panel-right_section_4{
        width: 100%;

    }
}